@import "reset.css";
body {
  background-color: #f6f9fc;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

canvas {
  width: 700px;
  height: 700px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.2);
}

.controls {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls .controls__buttons {
  margin-bottom: 25px;
  display: flex;
}

.controls__buttons button {
  all: unset;
  cursor: pointer;
  background-color: white;
  width: 80px;
  padding: 5px 0;
  margin: 0 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.2);
}

.controls__buttons button:active {
  transform: scale(0.97);
}

.controls .controls__colors {
  display: flex;
}

.controls__colors .controls__color {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0px 2px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.2);
}

.controls .controls__range {
  all: unset;
  margin-bottom: 20px;
}
